* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden ; */
}

.limite-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container-topo {
    position: relative;
    padding: 35px 0px;
}

.topo-logo {
    position: relative;
}

.topo-logo img {
    width: 80px;
}

.topo-texto {
    position: absolute;
    top: 0;
    left: 95px;
}

.topo-texto h1 {
    font-size: 32px;
    color: #000000;
}

.topo-texto p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: 600;
}

.topo-links {
    position: absolute;
    top: 50px;
    right: 0;
}

.topo-links a {
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #233032;
}

.container-banner {
    background-color: #2f86d6;
}

.secao-banner {
    position: relative;
    padding: 180px 0px;

}

.secao-banner p, .secao-banner h2 {
    color: #fff;
    width: 470px;
}

.secao-banner p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.secao-banner h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
}

.secao-banner img {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
}

.container-primeiro-anuncio {
    background-color: #233032;
    color: #fff;
}

.secao-primeiro-anuncio {
    position: relative;
    padding: 40px 0px;
}

.secao-primeiro-anuncio div {
    width: 600px;
}

.secao-primeiro-anuncio div h2 {
    margin-bottom: 5px;
    font-size: 24px;
}

.secao-primeiro-anuncio div p {
    font-size: 16px;
}

.secao-primeiro-anuncio a {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2f86d6;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.secao-primeiro-anuncio a img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    margin-left: 20px;
}

.secao-primeiro-anuncio a span {
    margin-left: 30px;
}

.secao-informacao {
    background-color: #fff;
    text-align: center;
    padding: 100px 0;
}

.secao-informacao h2 {
    font-size: 32px;
    color: #000000;
    width: 800px;
    margin: 0px auto 60px;
}

.secao-informacao h2 span {
    color: #2f86d6;
}

.container-informacao {
    position: relative;
    height: 240px;
}

.container-informacao div {
    width: 33%;
    position: absolute;
    top: 0;
}

.container-informacao div img {
    width: 100px;
}

.container-informacao div h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 20px;
}

.container-informacao div p {
    font-size: 16px;
    font-weight: 300;
}

.card2 {
    left: 343px;
}

.card3 {
    right: 0;
}

/* Seção Planos */
.secao-planos {
    padding: 100px 0px;
    background-color: #f1f3f7;
}

.secao-planos h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 32px;
}

.secao-planos h2 span {
    color: #2f86d6;
}

table {
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
}

table thead th {
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: auto;
}

table thead th p {
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}

.linha-impar {
    background-color: #f6f6f6;
}

.linha-par {
    background-color: #fff;
}


/* Seção Segundo Anúncio */
.secao-segundo-anuncio {
    background-color: #2f86d6;
}

.container-segundo-anuncio {
    position: relative;
    padding: 40px 0;
}

.container-segundo-anuncio h2 {
    color: #fff;
    width: 550px;
}

.container-segundo-anuncio a {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #233032;
    color: #fff;
    cursor: pointer;
}

.container-segundo-anuncio a img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    margin-left: 20px;
}

.container-segundo-anuncio a span {
    margin-left: 30px;
}


/* Rodapé */
.secao-contato{
    width: 320px;
    position: relative;
    margin: 70px auto 40px;
}

.secao-contato img {
    width: 80px;
}

.secao-contato div {
    position: absolute;
    left: 95px;
    top: 0;
}

.rodape-logo p {
    color: #2f86d6;
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.container-copyright {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    background-color: #f1f3f7;
}

.container-copyright span {
    color: #2f86d6;
}